<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>

<body>
    {{> header}}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit magnam accusantium, minima eveniet obcaecati expedita maxime, porro repellendus sapiente ducimus delectus dicta culpa vitae aliquam iusto quia fuga animi optio.</p>

  {{> footer}}

</body>

</html>